.note {
	background-color: #e6e08f;
	border-radius: 10px;
	padding: 10px;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note__span {
  overflow: hidden auto;
}

.note__textarea {
  background-color: transparent;
  overflow: hidden auto;
  border: 0;
  resize: none;
}

.note__textarea:focus {
  border: 1px #333232 solid;
  border-radius: 5px;
	outline: none;
}

.note__footer {
  height: 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.note__delete-button {
	cursor: pointer;
}

.note__edit-button {
  cursor: pointer;
}
