.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding: 20px 0;
}

.header__title {
  font-size: 20px;
  line-height: normal;
  margin: 0;
}

.header__button {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__button:hover {
  background: #919191;
}
